MODE=test
# среда запуска

DATABASE_URL=postgresql+asyncpg://<user>:<password>@<host>:<port>/<db>
# <user> имя пользователя БД
# <password> пароль БД
# <host> хост БД
# <port> порт БД
# <db> имя тестовой базы данных

REDIS_CACHE_URL=redis://<host>:<port>/<db_index>
# <host> хост Redis
# <port> порт Redis (обычно 6379)
# <db_index> индекс тестовой базы данных Redis (не должен совпадать с основным)