MODE=test
# среда запуска

DATABASE_URL=postgresql+asyncpg://<user>:<password>@<host>:<port>/<db>
# <user> имя пользователя БД
# <password> пароль БД
# <host> хост БД
# <port> порт БД
# <db> имя тестовой базы данных
